<!doctype html>
<html>
	<body>


		<center>
		<header> <h1> Home </h1> </header>
            <header> <h1> 1001626250</h1> </header>
		<header> <h1> Venkatesan, Charan </h1> </header>
            <header> <h1> Quiz 5 old</h1> </header>
		<br> <br>
		<br>
		<h2><a href = "/records">Lat Long Range Pie chart </a></h2>
            <h2><a href = "/fare">Fare Passengers Bar Chart</a></h2>
            <h2><a href = "/records1">Chart with pic</a></h2>
            <img src="{{url_for('static',filename=imgname)}}">

        </center>
	</body>
</html>